@page "/SYST_COLUMN"

@using EMMA_BE.Generated
@using EMMA_FE.Components.Common.FieldType

@inject HttpClient Http
@rendermode InteractiveServer

@if (!showNew && !showEdit) {
	<div>
		<table>
			<tr>
				<th></th>
				@foreach (string field in SYST_COLUMN_Table.GetFieldList()) {
					<th>@field</th>
				}
			</tr>
			@foreach (SYST_COLUMN_Record record in _SYST_COLUMN_Record_List) {
				<tr>
					<td><input type="button" value="E" @onclick="(x => { Edit(record);})" /></td>
					<td>@record.ID</td>
					<td>@record.TABLE_NAME</td>
					<td>@record.COLUMN_NAME</td>
					<td>@record.DESCRIPTION</td>
					<td>@record.SHORT_DESCRIPTION</td>
				</tr>
			}
		</table>
		<input type="button" value="Insert" @onclick="New" />
	</div>
}

@if (showNew) {
	<div>
		<table>
			<tr><TextBox Id="New_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_InsertRecord!.TABLE_NAME" Description="TABLE_NAME" Length="255" Width="255" /></tr>
			<tr><TextBox Id="New_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_InsertRecord!.COLUMN_NAME" Description="COLUMN_NAME" Length="255" Width="255" /></tr>
			<tr><TextBox Id="New_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_InsertRecord!.DESCRIPTION" Description="DESCRIPTION" Length="255" Width="255" /></tr>
			<tr><TextBox Id="New_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_InsertRecord!.SHORT_DESCRIPTION" Description="SHORT_DESCRIPTION" Length="255" Width="255" /></tr>
		</table>
		<input type="button" value="Back" @onclick="BackFromNew" />
		<input type="button" value="Clean" @onclick="CleanNew" />
		<input type="button" value="Insert" @onclick="Insert" />
	</div>
}

@if (showEdit) {
	<div>
		<table>
			<tr><TextBox Id="Edit_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_UpdateRecord!.TABLE_NAME" Description="TABLE_NAME" Length="255" Width="255" /></tr>
			<tr><TextBox Id="Edit_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_UpdateRecord!.COLUMN_NAME" Description="COLUMN_NAME" Length="255" Width="255" /></tr>
			<tr><TextBox Id="Edit_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_UpdateRecord!.DESCRIPTION" Description="DESCRIPTION" Length="255" Width="255" /></tr>
			<tr><TextBox Id="Edit_SYST_COLUMN" IsTable=true @bind-Value="@_SYST_COLUMN_UpdateRecord!.SHORT_DESCRIPTION" Description="SHORT_DESCRIPTION" Length="255" Width="255" /></tr>
		</table>
		<input type="button" value="Back" @onclick="BackFromEdit" />
		<input type="button" value="Reset" @onclick="ResetUpdate" />
		<input type="button" value="Update" @onclick="Update" />
	</div>
}

@code {
	private List<SYST_COLUMN_Record> _SYST_COLUMN_Record_List = [];
	bool showEdit = false;
	bool showNew = false;

	private SYST_COLUMN_BaseRecord? _SYST_COLUMN_InsertRecord = null;

	private SYST_COLUMN_IdRecord? _SYST_COLUMN_UpdateRecord_Orig = null;
	private SYST_COLUMN_IdRecord? _SYST_COLUMN_UpdateRecord = null;

	protected override async Task OnInitializedAsync() {
		var response = await Http.GetAsync(@"https://localhost:7062/SYST_COLUMN/SelectAll");
		if (response.IsSuccessStatusCode) {
			_SYST_COLUMN_Record_List = await response.Content.ReadFromJsonAsync<List<SYST_COLUMN_Record>>() ?? [];
		}
	}

	private void New() {
		showNew = true;
		_SYST_COLUMN_InsertRecord = new();
	}

	private void BackFromNew() {
		showNew = false;
		_SYST_COLUMN_InsertRecord = null;
	}

	private void CleanNew() {
		_SYST_COLUMN_InsertRecord = new();
	}

	protected async void Insert() {
		var response = await Http.PostAsJsonAsync(@"https://localhost:7062/SYST_COLUMN/Insert", _SYST_COLUMN_InsertRecord);
		if (response.IsSuccessStatusCode) {
			showNew = false;
		}
	}

	private void Edit(SYST_COLUMN_Record record) {
		showEdit = true;
		_SYST_COLUMN_UpdateRecord_Orig = new(record);
		_SYST_COLUMN_UpdateRecord = new(record);
	}

	private void BackFromEdit() {
		showEdit = false;
		_SYST_COLUMN_UpdateRecord_Orig = null;
		_SYST_COLUMN_UpdateRecord = null;
	}

	private void ResetUpdate() {
		_SYST_COLUMN_UpdateRecord = _SYST_COLUMN_UpdateRecord_Orig!.Clone();
	}

	protected async void Update() {
		var response = await Http.PostAsJsonAsync(@"https://localhost:7062/SYST_COLUMN/UpdateByKey", _SYST_COLUMN_UpdateRecord);
		if (response.IsSuccessStatusCode) {
			showEdit = false;
		}
	}

}